<%= form_for(@productor) do |f| %>
  <%= render 'shared/form_error_messages', object: f.object %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :Dni %>
    <%= f.text_field :dni %>
  </div>
  <div class="field">
<%= f.label :departamento_id %>
<%= f.collection_select :departamento_id,
  Departamento.find(:all,:order => 'nombre'),
  :id,:nombre,
  {:prompt => "Seleccione una opci&oacute;n..."} %>


    
    <%#= f.number_field :departamento_id %>
  </div>
  <div class="field">
    <%= f.label :comuna_municipio_id %>
<%= f.collection_select :comuna_municipio_id,
  ComunaMunicipio.find(:all,:order => 'nombre'),
  :id,:nombre,
  {:prompt => "Seleccione una opci&oacute;n..."} %>

  </div>
  <div class="field">
    <%= f.label :agencia %>
    <%= f.text_field :agencia %>
  </div>
  <div class="field">
    <%= f.label :email_extensionista %>
    <%= f.text_field :email_extensionista %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
