<% provide(:title, 'Listado de Productores') %>
<h2>Listado de Productores</h2>

<table class="table table-striped table-condensed">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>DNI</th>
    <th>Departamento</th>
    <th>Comuna municipio</th>
    <th>Agencia</th>
    <th>Email extensionista</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productores.each do |productor| %>
  <tr>
    <td><%= productor.nombre %></td>
    <td><%= productor.apellido %></td>
    <td><%= productor.dni %></td>
    <td><%= productor.departamento.nombre %></td>
    <td><%= productor.comuna_municipio.nombre %></td>
    <td><%= productor.agencia %></td>
    <td><%= productor.email_extensionista %></td>
    <td><%= link_to 'Mostrar', productor %></td>
    <td><%= link_to 'Editar', edit_productor_path(productor) %></td>
    <td><%= link_to 'Borrar', productor, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @productores %>

<br />

<%= link_to 'Nuevo Productor', new_productor_path %>
