<% provide(:title, 'Editar Usuario') %>
<h2>Editar Usuario</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(dejar en blanco si no se quiere cambiar)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(ingrese su clave actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Esta seguro de cancelar su cuenta?" }, :method => :delete %></p>

<%= link_to "Volver", :back %>
