<script src="app/assets/javascripts/raphael-min.js"></script>
<script src="app/assets/javascripts/morris.js-0.4.3/morris.js"></script>
<script src="app/assets/javascripts/morris.js-0.4.3/lib/prettify.js"></script>


<%= render 'menu_reportes' %>

<div>
  <div id="donutchart" style="height: 250px;"></div>
  <p class="text-center">
    <br>
    Porcentajes de caña infectada en Tucumán<br>
    sobre un total de <%= @resultado.values[0][0] %> muestras</p>
</div>

<script defer="defer" type="text/javascript">
  new Morris.Donut({
    element: 'donutchart',
    data: [
      {label: "Sana", value: <%= @resultado.values[0][1].to_i %>},
      {label: "Infecada", value: <%= @resultado.values[0][2].to_i %>}
    ]
  });
</script>
<br>
<%= link_to 'Listado Análisis RSD', analisis_rsds_path %>
