<script src="app/assets/javascripts/raphael-min.js"></script>
<script src="app/assets/javascripts/morris.js-0.4.3/morris.js"></script>
<script src="app/assets/javascripts/morris.js-0.4.3/lib/prettify.js"></script>

<% provide(:title, 'Reportes de Analisis RSD') %>
<h2>Reportes de Analisis RSD</h2>

<div>
  <%= link_to "General", analisis_rsd_reporte_general_path(0) %> | 
  <%= link_to "Histograma", analisis_rsd_reporte_histograma_path(0) %> |
  <%= link_to "Por departamento", '#' %> | <%= link_to "Variedades de Cañas", '#' %>
</div>

<br><br>

<table>
  <tr>
    <td>
      <div>
        <div id="donutchart" style="height: 250px;"></div>
        <p class="text-center">
          <br>
          Porcentajes de caña infectada en Tucumán<br>
          sobre un total de <%= @resultado["general"].values[0][0] %> muestras</p>
      </div>
    </td>
    <td>
      <div id="por_agencia" style="height: 250px;"></div>
        <p class="text-center">
          <br>
          Porcentajes de caña infectada en Tucumán<br>
          sobre un total de <%= @resultado["general"].values[0][0] %> muestras</p>
      </div>
    </td>
  </tr>
</table>


<script defer="defer" type="text/javascript">
  new Morris.Donut({
    element: 'donutchart',
    data: [
      {label: "Sana", value: <%= @resultado["general"].values[0][1].to_i %>},
      {label: "Infecada", value: <%= @resultado["general"].values[0][2].to_i %>}
    ]
  });
</script>

<script defer="defer" type="text/javascript">
  new Morris.Donut({
    element: 'por_agencia',
    data: [
      {label: "Simoca", value: <%= @resultado["cantidad_por_agencia"].values[0][0].to_i %>},
      {label: "Monteros", value: <%= @resultado["cantidad_por_agencia"].values[0][1].to_i %>},
      {label: "Aguilares", value: <%= @resultado["cantidad_por_agencia"].values[0][2].to_i %>}
    ]
  });
</script>
<br>
<%= link_to 'Listado Análisis RSD', analisis_rsds_path %>
