<script src="app/assets/javascripts/raphael-min.js"></script>
<script src="app/assets/javascripts/morris.js-0.4.3/morris.js"></script>
<script src="app/assets/javascripts/morris.js-0.4.3/lib/prettify.js"></script>

<% provide(:title, 'Reportes de Analisis RSD') %>
<h2>Reportes de Analisis RSD</h2>

<div>
  <%= link_to "General", analisis_rsd_reporte_general_path(0) %> | 
  <%= link_to "Histograma", analisis_rsd_reporte_histograma_path(0) %> |
  <%= link_to "Por departamento", '#' %> | <%= link_to "Variedades de Ca침as", '#' %>
</div>

<br><br>

<div>
  <div id="donutchart" style="height: 250px;"></div>
  <p class="text-center">
    <br>
    Porcentajes de ca침a infectada en Tucum치n<br>
    sobre un total de <%= @resultado.values[0][0] %> muestras</p>
</div>

<script defer="defer" type="text/javascript">
  new Morris.Donut({
    element: 'donutchart',
    data: [
      {label: "Sana", value: <%= @resultado.values[0][1].to_i %>},
      {label: "Infecada", value: <%= @resultado.values[0][2].to_i %>}
    ]
  });
</script>
<br>
<%= link_to 'Listado An치lisis RSD', analisis_rsds_path %>
