<%= render 'menu_reportes' %>

<br><br>

<div>
  <h4 class="text-center" >Clases de incidencias - Provincia de Tucumán</h4>
  <div id="barchart" style="height: 250px;"></div>
</div>

<script defer="defer" type="text/javascript">
  new Morris.Bar({
        element: 'barchart',
        data: [
          { y: 'Sana\nsin infección', a: <%= @resultado.values[0][1].to_i %> },
          { y: 'Incidencia\n entre 0 y 25', a: <%= @resultado.values[0][2].to_i %> },
          { y: 'Incidencia\n entre 25 y 50', a: <%= @resultado.values[0][2].to_i %> },
          { y: 'Incidencia\n entre 50 y 75', a: <%= @resultado.values[0][2].to_i %> },
          { y: 'Incidencia\n entre 75 y 100', a: <%= @resultado.values[0][3].to_i %> }
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Cantidad de muestras']
  }); 
</script>

<br><br>

<div>
  <h4 class="text-center" >Distribución de incidencias por comunas - Provincia de Tucumán</h4>
  <div id="por_comunas" style="height: 250px;"></div>
  <p class="text-center">
    <br>
    Porcentajes de caña infectada en Tucumán<br>
    sobre un total de <%= @total_de_muestras %> muestras</p>
</div>

<script>
Morris.Bar({
  element: 'por_comunas',
  data: <%= raw @hash.to_json %>,
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Sana', 'Infectada']
});

</script>
<br>
<%= link_to 'Listado Análisis RSD', analisis_rsds_path %>
