<% provide(:title, 'Análisis RSD ' + @analisis_rsd.fecha_ingreso.strftime("%d/%m/%Y")) %>
<h2>Analisis RSD</h2>
<table class="table table-bordered">
  <tr>
    <td><b>Fecha extraccion:</b> <%= l(@analisis_rsd.fecha_extraccion) unless @analisis_rsd.fecha_extraccion.nil? %></td>
    <td><b>Fecha ingreso:</b> <%= l(@analisis_rsd.fecha_ingreso) unless @analisis_rsd.fecha_ingreso.nil? %></td>
    <td><b>Fecha analisis:</b> <%= l(@analisis_rsd.fecha_analisis) unless @analisis_rsd.fecha_analisis.nil? %></td>
  </tr> 
  <tr>
    <td><b>Variedad:</b> <%= @analisis_rsd.cania_variedad_id %></td>
    <td><b>Membrana:</b> <%= @analisis_rsd.membrana %></td>
    <td><b>Anio plantacion:</b> <%= @analisis_rsd.anio_plantacion.year %></td>
  </tr>
  <tr>
    <td><b>Procedencia:</b> <%= @analisis_rsd.procedencia_id %></td>
    <td><b>Productor:</b> <%= @analisis_rsd.productor_id %></td>
    <td><b>Parcela:</b> <%= @analisis_rsd.parcela_id %></td>
  </tr>
  <tr>
    <td><b>Departamento:</b> <%= @analisis_rsd.departamento.nombre %></td>
    <td><b>Localidad:</b> <%= @analisis_rsd.localidad.nombre %></td>
    <td><b>Comuna municipio:</b> <%= @analisis_rsd.comuna_municipio.nombre %></td>
  </tr>
  <tr>
    <td><b>Agente:</b> <%= @analisis_rsd.agente.apellido_nombre %></td>
    <td><b>Promotor:</b> <%= @analisis_rsd.promotor.apellido_nombre %></td>
    <td><b>Paraje:</b> <%= @analisis_rsd.paraje.nombre %></td>
  </tr>
  <tr class="danger">
    <td><b>Laboratorista:</b> <%= @analisis_rsd.laboratorista.apellido_nombre %></td>
    <td><b>Incidencia:</b> <%= @analisis_rsd.incidencia %></td>
    <td><b>Analizado:</b> <%= @analisis_rsd.analizado %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_analisis_rsd_path(@analisis_rsd) %> |
<%= link_to 'Listado Análisis RSD', analisis_rsds_path %>
