<% provide(:title, 'Listado de Variedades de Caña de Azúcar') %>
<h2>Listado de Variedades de Cañas de Azúcar</h2>

<table id="cania_variedades" class="table table-striped table-condensed">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <%= mostrar_editar_borrar_headers CaniaVariedad %>
  </tr>
</thead>
<tbody>

<% @cania_variedades.each do |cania_variedad| %>
  <% data = mostrar_editar_borrar_data(@view, cania_variedad) %>
  <tr>
    <td><%= cania_variedad.nombre %></td>
    <td><%= cania_variedad.descripcion %></td>
    <td><%= data[0] %></td>
    <td><%= data[1] %></td>
    <td><%= data[2] %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Nueva Variedad de Caña de Azúcar', new_cania_variedad_path %>
