<%= form_for(@usuario) do |f| %>
  <%= render 'shared/form_error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :role %>
    <% for programa in Programa.all %>
        <b>Roles <%= programa.nombre %>:</b>
        <% for role in Role.all_from_programa(programa.nombre) %>
          <%= check_box_tag "user[role_ids][]", role.id, @usuario.roles.include?(role) %>
          <%=h role.name %>
        <% end %>
        </br>
    <% end %>
    <b>Roles sin programa:</b>
    <% for role in Role.all_sin_programa %>
      <%= check_box_tag "user[role_ids][]", role.id, @usuario.roles.include?(role) %>
      <%=h role.name %>
    <% end %>
    </br>
  <%= hidden_field_tag "user[role_ids][]", "" %>
  </div></br>

  
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>