<% provide(:title, 'Listado de Usuarios') %>
<h2>Listado de Usuarios</h2>

<table>
  <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Ultimo acceso</th>
    <th>Cant. acceso</th>
  </tr>

  <% @usuarios.each do |usuario| %>
    <tr>
      <td><%= usuario.email %></td>
      <td><%= usuario.name %></td>
      <td><%= usuario.last_sign_in_at %></td>
      <td><%= usuario.sign_in_count %></td>
      <td><%= link_to 'Mostrar', usuario %></td>
      <td><%= link_to 'Editar', edit_user_path(usuario) %></td>
      <td><%= link_to 'Borrar', usuario, :confirm => '¿Esta seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Nuevo Usuario', new_user_path %>
