<h4>Perfil Agente PROICSA</h4>

<div class="field">
  <%= object.label :pc_asignada %>
  <%= object.text_field :pc_asignada, :disabled => true %>
</div>

<b>Extensionistas a cargo:</b><BR>

<% object.object.proicsa_extensionistas.each do |extensionista| %>
  <%= extensionista.persona.nombre %> <BR>
<% end %>
<br><br>
<div class="field">
  <%= object.label :proicsa_jefe_agente_id %>
  <%= object.select(:proicsa_jefe_agente_id, ProicsaJefeAgente.all_for_select, :include_blank => true)%>
</div>
