<%= form_for(@role) do |f| %>
  <%= render 'shared/form_error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :programa_id %>
    <%= f.collection_select :programa_id, Programa.order('nombre ASC').all, :id, :nombre, :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
