<%= form_for(@analisis_prezafra) do |f| %>
  <%= render 'shared/form_error_messages', object: f.object %>
  
  <div>
    <div style="float:left; width:33%;">
      <div class="field">
        <%= f.label :fecha_inicio %>
        <%= f.text_field :fecha_inicio, value: l(Date.today), :readonly => true, tabindex: 1 %>
      </div>
      <div class="field">
        <%= f.label :agente_id %>
        <%= f.select :agente_id, ProicsaAgente.all_for_select_id_persona, {include_blank: true}, {tabindex: 4}%>
      </div>
      <div class="field">
        <%= f.label :latlon %>
        <%= f.text_field :latlon, tabindex: 7 %>
      </div>
      <div class="field">
        <%= f.label :parcela_id %>
        <%= f.number_field :parcela_id, tabindex: 10 %>
      </div>
    </div>
    <div style="float:left; width:33%;">
      <div class="field">
        <%= f.label :fecha_extraccion %>
        <%= f.text_field :fecha_extraccion, class: "datepicker", tabindex: 2  %>
      </div>
      <div class="field">
        <%= f.label :promotor_id %>
        <%= f.select :promotor_id, ProicsaExtensionista.all_for_select_id_persona, {include_blank: true}, {tabindex: 5}%>
      </div>
      <div class="field">
        <%= f.label :estado %>
        <%= f.select :estado, AnalisisPrezafra.estados, {}, {tabindex: 8} %>
      </div>
      <br><br>
      <div class="actions">
        <%= f.submit tabindex: 11 %>
      </div>
    </div>
    <div style="float:left; width:33%;">
      <div class="field">
        <%= f.label :productor_id %>
        <%= f.collection_select :productor_id, Productor.order('apellido ASC').all, :id, :apellido_nombre, {:include_blank => true}, {tabindex: 3 }%>
      </div>
      <div class="field">
        <%= f.label :cania_variedad_id %>
        <%= f.collection_select :cania_variedad_id, CaniaVariedad.order('nombre ASC').all, :id, :nombre, { :include_blank => true}, {tabindex: 6} %>
      </div>
      <div class="field">
        <%= f.label :observaciones %>
        <%= f.text_area :observaciones, size: "20x5", tabindex: 9 %>
      </div>
    </div>
  </div>

<% end %>
