<% provide(:title, 'Listado Análisis Prezafra')%>
<h2>Listado Análisis Prezafra</h2>

<table class="table table-striped table-condensed">
  <tr>
    <th>Identificacion</th>
    <th>Fecha inicio</th>
    <th>Fecha extraccion</th>
    <th>Fecha ingreso</th>
    <th>Fecha analisis</th>
    <th>Agente</th>
    <th>Promotor</th>
    <th>Laboratorista</th>
    <th>Peso muestra</th>
    <th>Peso tallo</th>
    <th>Variedad</th>
    <th>Brix pct</th>
    <th>Lectura polar</th>
    <th>Rto pct</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @analisis_prezafras.each do |analisis_prezafra| %>
  <tr>
    <td><%= analisis_prezafra.identificacion %></td>
    <td><%= l(analisis_prezafra.fecha_inicio) %></td>

    <td><%= (l(analisis_prezafra.fecha_extraccion) unless analisis_prezafra.fecha_extraccion.nil?) %></td>
    <td><%= (l(analisis_prezafra.fecha_ingreso) unless analisis_prezafra.fecha_extraccion.nil?) %></td>
    <td><%= (l(analisis_prezafra.fecha_analisis) unless analisis_prezafra.fecha_extraccion.nil?) %></td>

    <td><%= analisis_prezafra.agente.apellido_nombre unless analisis_prezafra.agente_id.nil? %></td>
    <td><%= analisis_prezafra.promotor.apellido_nombre unless analisis_prezafra.promotor_id.nil? %></td>
    <td><%= analisis_prezafra.laboratorista.apellido_nombre unless analisis_prezafra.laboratorista_id.nil? %></td>

    <td><%= analisis_prezafra.peso_muestra %></td>
    <td><%= analisis_prezafra.peso_tallo %></td>
    <td><%= (analisis_prezafra.cania_variedad.nombre unless analisis_prezafra.cania_variedad.nil?) %></td>
    <td><%= analisis_prezafra.brix_pct %></td>
    <td><%= analisis_prezafra.lectura_polar %></td>
    <td><%= analisis_prezafra.rto_pct %></td>
    <td><%= analisis_prezafra.estado %></td>
    <td><%= link_to 'Mostrar', analisis_prezafra %></td>
    <td><%= link_to 'Editar', edit_analisis_prezafra_path(analisis_prezafra) %></td>
    <td><%= link_to 'Borrar', analisis_prezafra, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Análisis Prezafra', new_analisis_prezafra_path %>
