<p id="notice"><%= notice %></p>

<p>
  <b>Identificacion:</b>
  <%= @analisis_prezafra.identificacion %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @analisis_prezafra.fecha_inicio %>
</p>

<p>
  <b>Fecha extraccion:</b>
  <%= @analisis_prezafra.fecha_extraccion %>
</p>

<p>
  <b>Fecha ingreso:</b>
  <%= @analisis_prezafra.fecha_ingreso %>
</p>

<p>
  <b>Fecha analisis:</b>
  <%= @analisis_prezafra.fecha_analisis %>
</p>

<p>
  <b>Productor:</b>
  <%= @analisis_prezafra.productor_id %>
</p>

<p>
  <b>Parcela:</b>
  <%= @analisis_prezafra.parcela_id %>
</p>

<p>
  <b>Agente:</b>
  <%= @analisis_prezafra.agente_id %>
</p>

<p>
  <b>Promotor:</b>
  <%= @analisis_prezafra.promotor_id %>
</p>

<p>
  <b>Laboratorista:</b>
  <%= @analisis_prezafra.laboratorista_id %>
</p>

<p>
  <b>Latlon:</b>
  <%= @analisis_prezafra.latlon %>
</p>

<p>
  <b>Peso muestra:</b>
  <%= @analisis_prezafra.peso_muestra %>
</p>

<p>
  <b>Peso tallo:</b>
  <%= @analisis_prezafra.peso_tallo %>
</p>

<p>
  <b>Variedad:</b>
  <%= @analisis_prezafra.variedad_id %>
</p>

<p>
  <b>Brix pct:</b>
  <%= @analisis_prezafra.brix_pct %>
</p>

<p>
  <b>Lectura polar:</b>
  <%= @analisis_prezafra.lectura_polar %>
</p>

<p>
  <b>Pol pct jugo:</b>
  <%= @analisis_prezafra.pol_pct_jugo %>
</p>

<p>
  <b>Pureza pct:</b>
  <%= @analisis_prezafra.pureza_pct %>
</p>

<p>
  <b>Pol pct cania:</b>
  <%= @analisis_prezafra.pol_pct_cania %>
</p>

<p>
  <b>Rto pct:</b>
  <%= @analisis_prezafra.rto_pct %>
</p>

<p>
  <b>Estado:</b>
  <%= @analisis_prezafra.estado %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @analisis_prezafra.observaciones %>
</p>


<%= link_to 'Edit', edit_analisis_prezafra_path(@analisis_prezafra) %> |
<%= link_to 'Back', analisis_prezafras_path %>
