<% provide(:title, 'An치lisis Prezafra ') %>

<blockquote>
  <h2>An치lisis Prezafra</h2>
  <h2><small><%= @analisis_prezafra.identificacion %></small></h2>
</blockquote>

<h3><small>
  Fecha inicio: <%= (l(@analisis_prezafra.fecha_inicio) unless @analisis_prezafra.fecha_inicio.nil?) %>
  <%= link_to 'Ticket Prezafra', analisis_prezafras_ticket_path(@analisis_prezafra) %>
</h3></small>

<table class="table table-bordered">
  <tr>
    <td>
      <b>Fecha extraccion:</b>
      <%= (l(@analisis_prezafra.fecha_extraccion) unless @analisis_prezafra.fecha_extraccion.nil?) %>
    </td>
    <td>
      <b>Fecha ingreso:</b>
      <%= (l(@analisis_prezafra.fecha_ingreso) unless @analisis_prezafra.fecha_ingreso.nil?) %>
    </td>
    <td>
      <b>Fecha an치lisis:</b>
      <%= (l(@analisis_prezafra.fecha_analisis) unless @analisis_prezafra.fecha_analisis.nil?) %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Productor:</b>
      <%= @analisis_prezafra.productor.apellido_nombre unless @analisis_prezafra.productor_id.nil? %>
    </td>
    <td>
      <b>Agente:</b>
      <%= @analisis_prezafra.agente.apellido_nombre unless @analisis_prezafra.agente_id.nil? %>
    </td>
    <td>
      <b>Promotor:</b>
      <%= @analisis_prezafra.promotor.apellido_nombre unless @analisis_prezafra.promotor_id.nil? %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Peso muestra:</b><%= @analisis_prezafra.peso_muestra %>
    </td>
    <td>
      <b>Peso tallo (g):</b><%= @analisis_prezafra.peso_tallo %>
    </td>
    <td>
      <b>Variedad:</b> <%= @analisis_prezafra.cania_variedad.nombre unless @analisis_prezafra.cania_variedad.nil? %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Brix (%):</b><%= @analisis_prezafra.brix_pct %>
    </td>
    <td>
      <b>Lectura polar:</b><%= @analisis_prezafra.lectura_polar %>
    </td>
    <td>
      <b>Pol % jugo:</b><%= @analisis_prezafra.pol_pct_jugo %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Pureza (%):</b><%= @analisis_prezafra.pureza_pct %>
    </td>
    <td>
      <b>Pol % cania:</b><%= @analisis_prezafra.pol_pct_cania %>
    </td>
    <td>
      <b>Rto (%):</b><%= @analisis_prezafra.rto_pct %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Laboratorista:</b><%= @analisis_prezafra.laboratorista.apellido_nombre unless @analisis_prezafra.laboratorista_id.nil? %>
    </td>
    <td>
      <b>Estado:</b><%= @analisis_prezafra.estado %>
    </td>
    <td>
      <b>Observaciones:</b><%= simple_format h @analisis_prezafra.observaciones %>
    </td>
  </tr>
</table>

<h3><small>
  Lat Lon: <%= "[#{@analisis_prezafra.latitude}  #{@analisis_prezafra.longitude}]" %>
  <p>
    Parcela: <%= @analisis_prezafra.parcela_id %>
  </p>
</h3></small>
<br>
<%= link_to 'Editar', edit_analisis_prezafra_path(@analisis_prezafra) %> |
<%= link_to 'Listado An치lisis Prezafra', analisis_prezafras_path %>
