<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "INTA-Famaillá", root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Inicio", root_path %></li>
        <li><%= link_to "Ayuda", ayuda_path %></li>
        <% if user_signed_in? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.persona.nombre %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Editar Perfil", edit_persona_path(current_user.persona.id) %></li>
              <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to 'Entrar', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>