<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>
  
  <div class="container">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>  

</body>
</html>
