<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to "INTA-Famaillá", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", '#' %></li>
          <li><%= link_to "Ayuda", '#' %></li>
          <li><%= link_to "Entrar", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
    <small>
      <a href="http://inta.gob.ar/"> INTA</a> Instituto Nacional de Tecnología Agropecuaria
    </small>
    <nav>
      <ul>
        <li><%= link_to "Acerca", '#' %></li>
        <li><%= link_to "Contacto", '#' %></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
